#navigation {	
	width: 60%;
	text-align: center;
	margin: 0px auto;
}

#navigation ul{
	list-style-type: none;
    margin: 0px auto;
    padding: 0px;
	border: 1px red solid;
}

#navigation ul li {
	float: left;
	border: 1px red solid;
}

#para1 {
	font-family:"Arial";
}

#para2 {
	font-family:"Console";
}

.imgresize {
	width:50px;
	height:50px;
	border: 1px solid black;
	border-radius: 25px;
    outline-style: double;
    outline-color: green;
}

.text-img-center {
	position: relative;
	text-align : center;
}

.text-img-center img{
	margin: 20px;
}

.text-img-center p {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:red;
	border: 1px blue dotted;
}
